<div class="page pt-portfolio animate__animated animate__fadeInRight" style="height: 100%;" data-simplebar>
  <section class="container">

    <!-- Section Title -->
    <div class="header-page pt-70 mob-mt">
      <h2>Portfolio</h2>
      <span></span>
    </div>

    <!-- Portfolio Filter Row Start -->
    <div class="row mt-30">
      <div class="col-lg-12 col-sm-12 portfolio-filter">
        <ul>
          <li class="active" data-filter="*">All</li>
          <li data-filter=".netframework">.Net</li>
          <li data-filter=".angular">Angular</li>
          <li data-filter=".webinar">Webinars</li>
          <li data-filter=".sqlserver">SQL Server</li>
          <li data-filter=".azure">Microsoft Azure</li>
          <li data-filter=".software">Software Engineering</li>
          <li data-filter=".sourcecontrol">Source Control</li>

        </ul>
      </div>
    </div>

    <!-- Portfolio Item Row Start -->
    <div class="row portfolio-items mt-70 mb-100">

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 netframework">
        <figure>
          <img alt="" src="assets/img/portfolio/MVC.Net.jpg">
          <figcaption>
            <h3>Healthcare application</h3>
            <a class="link" href="https://github.com/yovento/Clinic" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 netframework">
        <figure>
          <img alt="" src="assets/img/portfolio/MVC.Net.jpg">
          <figcaption>
            <h3>MVC Test application</h3>
            <a class="link" href="https://github.com/yovento/Vidly" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 angular">
        <figure>
          <img alt="" src="assets/img/portfolio/angular.png">
          <figcaption>
            <h3>Personal Site</h3>
            <a class="link" href="https://github.com/yovento/00-yovento-site" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 webinar">
        <figure>
          <img alt="" src="assets/img/portfolio/Azure.jpg">
          <figcaption>
            <h3>Azure LogicApps - GAP</h3>
            <a class="link" href="https://www.youtube.com/watch?v=XM85yWjHreU&feature=youtu.be" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 azure">
        <figure>
          <img alt="" src="assets/img/portfolio/Azure.jpg">
          <figcaption>
            <h3>Microsoft Azure</h3>
            <a class="link" href="https://github.com/yovento/Azure-Colombia" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 azure">
        <figure>
          <img alt="" src="assets/img/portfolio/EventHubsAzure.jpg">
          <figcaption>
            <h3>EventHubs</h3>
            <a class="link" href="https://github.com/yovento/EventHubs_WebApi" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 sqlserver">
        <figure>
          <img alt="" src="assets/img/portfolio/SQL.jpg">
          <figcaption>
            <h3>SQL Server Scripts</h3>
            <a class="link" href="https://github.com/yovento/SQL_Scripts" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 software">
        <figure>
          <img alt="" src="assets/img/portfolio/DesignPatterns.jpg">
          <figcaption>
            <h3>Design Patterns</h3>
            <a class="link" href="https://github.com/yovento/DesignPatterns" target="_blank"></a>
          </figcaption>
        </figure>
      </div>

      <!-- Portfolio Item -->
      <div class="item col-lg-4 col-sm-6 sourcecontrol">
        <figure>
          <img alt="" src="assets/img/portfolio/GitHub.jpg">
          <figcaption>
            <h3>Git Commands</h3>
            <a class="link" href="https://github.com/yovento/Git_Commands" target="_blank"></a>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>
