<div class="page pt-about animate__animated animate__fadeInRight" data-simplebar>
  <section class="container">

    <!-- Section Title -->
    <div class="header-page pt-70 mob-mt">
      <h2>About Me</h2>
      <span></span>
    </div>

    <!-- Personal Info Start -->
    <div class="row text-panel mt-20">

      <!-- Information Block -->
      <div class="col-lg-12 col-sm-12">
          <div class="info box-1">
          <div class="row">
            <div class="col-lg-3 col-sm-4">
              <div class="photo">
                <img alt="" src="assets/img/user-photo.jpg">
              </div>
            </div>
            <div class="col-lg-9 col-sm-8">
              <h4>John Restrepo</h4>
              <div class="loc">
                <i class="fa fa-map"></i> Medellin, Colombia
              </div>
              <p>Hi! I’m John Restrepo a self-taught & Developer with over eleven years work experience. I started working in familiar companies with basic software applications, got pro at working with big size applications for national and international customers. I am based in Colombia, America, working for GAP (Growth Acceleration Partners) as a .Net Developer implementing new features and solutions.
              </p>
              <p>I have couple of hobbies but I like to travel the most.
              </p>
            </div>

            <!-- Icon Info -->
            <div class="col-lg-3 col-sm-4">
                              <div class="info-icon">
                                   <i class="devicon-visualstudio-plain"></i>
                                   <div class="desc-icon">
                  <h6>11+ Years Job</h6>
                                        <p>Experience</p>
                                     </div>
                              </div>
                            </div>

            <!-- Icon Info -->
            <div class="col-lg-3 col-sm-4">
                              <div class="info-icon">
                                   <i class="devicon-trello-plain"></i>
                                   <div class="desc-icon">
                  <h6>25+ Projects</h6>
                                        <p>Completed</p>
                                    </div>
                              </div>
                            </div>

            <!-- Icon Info -->
            <div class="col-lg-3 col-sm-4">
                              <div class="info-icon">
                                   <i class="devicon-devicon-plain"></i>
                                   <div class="desc-icon">
                  <h6>Agile</h6>
                                         <p>Developer</p>
                                    </div>
                              </div>
                            </div>
            <div class="col-lg-3 col-sm-12 pt-50">
                              <a href="assets/docs/Curriculum_Vitae.pdf" target="_blank" class="btn-st">Download CV</a>
                            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Interests Row Start -->
    <div class="text-panel row mt-100">

      <!-- Header Block -->
      <div class="col-md-12">
        <div class="header-box mb-50">
          <h3>My Interests</h3>
        </div>
      </div>

      <div class="col-lg-12 col-sm-12">
        <div class="box-2">
          <div class="row">
                              <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
                                  <div class="inter-icon">
                                          <i class="fa fa-gamepad"></i>
                                          <div class="desc-inter">
                                          <h6>Video games</h6>
                                          </div>
                                  </div>
                              </div>

                              <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
                                  <div class="inter-icon">
                                          <i class="fa fa-film"></i>
                                          <div class="desc-inter">
                                          <h6>Movies</h6>
                                          </div>
                                  </div>
                              </div>

            <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
              <div class="inter-icon">
                                   <i class="fa fa-music"></i>
                                   <div class="desc-inter">
                  <h6>Music</h6>
                                     </div>
              </div>
            </div>

            <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
              <div class="inter-icon">
                                   <i class="fa fa-plane"></i>
                                   <div class="desc-inter">
                  <h6>Traveling</h6>
                                     </div>
                              </div>
            </div>

            <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
              <div class="inter-icon">
                                   <i class="fa fa-image"></i>
                                     <div class="desc-inter">
                  <h6>Photos</h6>
                                     </div>
                              </div>
                              </div>

            <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
              <div class="inter-icon">
                                   <i class="fa fa-space-shuttle"></i>
                                   <div class="desc-inter">
                  <h6>Space</h6>
                                     </div>
                              </div>
            </div>

            <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
              <div class="inter-icon">
                                   <i class="fa fa-book"></i>
                                   <div class="desc-inter">
                  <h6>Cycling</h6>
                                     </div>
                              </div>
            </div>

            <!-- Interests Item -->
            <div class="col-lg-3 col-sm-6">
              <div class="inter-icon">
                                   <i class="fa fa-tree"></i>
                                   <div class="desc-inter">
                  <h6>Forest</h6>
                                     </div>
                              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Service Row Start -->
    <div class="text-panel row mt-100">

      <!-- Header Block -->
      <div class="col-md-12">
        <div class="header-box mb-50">
          <h3>Developer</h3>
        </div>
      </div>

      <!-- Service Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="service box-2 mb-40">
          <i class="fa fa-globe"></i>
          <h4>Web Development</h4>
          <p>I have been working as a software developer for almost all my working life, around all these years I have used a lot of technologies, nowadays I work in both backend (I keep using Microsoft for this) and frontend (React and Angular 7), my experience here is of around 10 years.</p>
        </div>
      </div>

      <!-- Service Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="service box-1 mb-40">
          <i class="fa fa-desktop"></i>
          <h4>Desktop Development</h4>
          <p>I have a short history working with desktop application, mainly I have worked with WPF application and some classic desktop applications too, my experience in this field is of 2-3 years.</p>
        </div>
      </div>


      <!-- Service Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="service box-2 mb-40">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <h4>Mobile Development</h4>
          <p>I love mobile development but I have not had the opportunity to work in this field professionally yet, my knowledge here is focused on Xamarin Forms.</p>
        </div>
      </div>

      <!-- Service Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="service box-1 mb-40">
          <i class="fa fa-medkit"></i>
          <h4>Support and Maintenance</h4>
          <p>Around all my years working in different kinds of companies had to maintain and give support to a wide kind of application with several technologies using ticket-based system to control the support requests and communication with internal and external clients.</p>
        </div>
      </div>
    </div>

    <!-- Testimonial Row Start -->
    <div class="text-panel row testimonial mt-60">

        <!-- Header Block -->
        <div class="col-md-12">
          <div class="header-box mb-50">
            <h3>Testimonials</h3>
          </div>
        </div>

        <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <!-- Testimonail Item -->
              <div *ngFor="let testimonial of _testimonials, let idx = index" class="carousel-item" [ngClass]="{'active': idx==0}">
                <div class="media">
                  <img [src]="testimonial.picture" alt="">
                  <div class="content">
                    <h4>{{ testimonial.name }}</h4>
                    <p>{{ testimonial.title }}<br>
                      {{ testimonial.company }}<br>
                      {{ testimonial.country }}
                    </p>
                  </div>
                </div>
                <div class="comment pt-30">
                  <p>
                    {{ testimonial.testimonial }}
                  </p>
                </div>
              </div>
              <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
      </div>
    </div>
  </section>
</div>
