
.banner {
	position: absolute;
	width: 100%;
    top: 50%;
	color: #ddd;
    text-align: center;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

.banner h1 {
	color: #ddd;
	margin-bottom: 15px;
}

.banner p {
	color: #ddd;
	font-size: 30px;
}
