<div class="social animate__animated animate__fadeIn">
  <ul>
      <li><a href="https://www.linkedin.com/in/john-edison-restrepo-bedoya-68799b82" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/yovento" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="https://twitter.com/yovento1" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.youtube.com/user/yovento" target="_blank"><i class="fa fa-youtube"></i></a></li>
      <li><a href="https://www.facebook.com/johnedison.restrepobedoya" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
      <li><a href="https://www.instagram.com/yoventojohn/" target="_blank"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>
