<div class="social animate__animated animate__fadeIn">
  <ul>
    <li><a href="https://www.linkedin.com/in/john-edison-restrepo-bedoya-68799b82" title="Linked-in" target="_blank"><i
          class="fa fa-linkedin"></i></a></li>
    <li><a href="https://github.com/yovento" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></li>
    <li style="width: 26px;"><a href="https://profile.codersrank.io/user/yovento/asOthersSee/" target="_blank"
        title="Coders-Rank"><img class="social-image" src="./../../../../assets/img/hackerRank.png" /></a>
    </li>
    <li><a href="https://twitter.com/yovento1" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/yoventojohn/" target="_blank"><i class="fa fa-instagram"
          title="Instagram"></i></a></li>
  </ul>
</div>
