/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}


.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: rgba(14, 15, 16, .6);
  z-index: 999999;
}

.vertical-nav ul .nav-item a:hover{
  background: #343a40!important;
}

.vertical-nav ul .nav-item a{
  font-size: 18px;
}

#sidebar {
  margin-left: 0rem;
}

.sidebar-bottom {
  position: absolute;
  bottom: 10px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  .page-content {
    width: calc(100% - 4rem) !important;
    top: 50px !important;
    margin-left: 4rem !important;
    transition: all 0.4s !important;
  }

  .hideMobile {
    display: none;
  }

  .header-mobile {
    display: block !important;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .vertical-nav {
    min-width: 4rem;
    width: 4rem;
  }

  .bg-dark {
    width: 4rem;
  }

  .mainText {
    margin-top: 4rem;
  }

  .vertical-nav ul .nav-item a{
    font-size: 20px;
  }

  .vertical-nav ul .nav-item a:hover{
    width: 4rem;
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
-webkit-box-shadow: 0 0px 50px 0 #000;
      box-shadow: 0 0px 50px 0 #000;
  z-index: 10;
  display: none;
  -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.header-mobile h2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  display: inline-block;
  color: #ddd;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 50px;
  white-space: nowrap;
}

.header-mobile .header-toggle {
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}

.header-mobile .header-toggle i {
  color: #ddd;
}

.header-mobile .header-toggle {
  float: right;
}
.header-mobile .header-toggle {
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}
