<div class="vertical-nav animate__animated animate__fadeIn" id="sidebar">
  <div class="py-4 px-3 bg-dark hideMobile">
    <div class="media d-flex align-items-center"><img src="assets/img/user-photo.jpg" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0 text-white">John Restrepo</h4>
        <p class="font-weight-light text-muted mb-0">Full Stack .Net and database developer</p>
      </div>
    </div>
  </div>

  <ul class="nav flex-column mb-0">
    <li class="nav-item" routerLinkActive="bg-dark">
      <a class="nav-link text-white" [routerLink]="['home']">
        <i class="fa fa-home mr-3 fa-fw"></i>
        <span class="hideMobile">Home</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="bg-dark">
      <a class="nav-link text-white" [routerLink]="['about']">
        <i class="fa fa-user mr-3 fa-fw"></i>
        <span class="hideMobile">About</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="bg-dark">
      <a class="nav-link text-white" [routerLink]="['resume']">
        <i class="fa fa-address-book mr-3 fa-fw"></i>
        <span class="hideMobile">Resume</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="bg-dark">
      <a class="nav-link text-white" [routerLink]="['portfolio']">
        <i class="fa fa-briefcase mr-3 fa-fw"></i>
        <span class="hideMobile">Portfolio</span>
      </a>
    </li>
  </ul>

  <div class="sidebar-bottom px-3">
    <div class="media d-flex align-items-center">
      <img src="assets/img/Angular.png" alt="Made with Angular" title="Made with Angular" width="45" class="mr-3">
      <div class="media-body hideMobile">
        <h4 class="m-0 text-white"></h4>
        <p class="font-weight-light text-muted mb-0">Made with Angular</p>
      </div>
    </div>
  </div>
</div>

<div class="header-mobile">
  <a (click)="toggleMenu()" class="header-toggle"><i class="fa fa-bars"></i></a>
  <h2>John Restrepo</h2>
</div>
