/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins',sans-serif;
  background: url('./assets/img/home-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

.simplebar-content-wrapper {
  background: rgba(14, 15, 16, .6);
}

.main-container {
  margin-left: 17rem;

}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}


@media (max-width: 768px) {

  .page-content {
    width: 100%;
    margin-top: 50px !important;
    margin-left: 0rem;
    transition: all 0.4s !important;
  }
}

img {
  max-width: 100%;
}

.img-thumbnail {
  padding: .15rem !important;
  background-color: #ddd !important;
}

.pt-about,
.pt-resume,
.pt-portfolio,
.pt-blog,
.pt-contact {
  color: #ddd;
  padding-right: 70px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.text-panel {
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  padding: 2rem;
}

.canvasChart {
  position: absolute !important;
	top: 3px !important;
	left: 50% !important;
	-webkit-transform: translateX(-50%) !important;
			transform: translateX(-50%) !important;
}

.page .header-page {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.page .header-box, .blog-page .header-box {
  position: relative;
  text-align: center;
}

.header-page h2, .pt-resume .experience .main h4:before, .blog-list .side-left .categories ul li:before, .blog-list .side-left .archives ul li:before {
  padding-bottom: 10px;
  border-bottom: 2px solid cornflowerblue !important;
}

/* ---------- Margin & Padding --------- */

.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-45 {
  margin-top: 45px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-55 {
  margin-top: 55px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-65 {
  margin-top: 65px !important;
}
.mt-70 {
  margin-top: 70px !important;
}
.mt-75 {
  margin-top: 75px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.mt-85 {
  margin-top: 85px !important;
}
.mt-90 {
  margin-top: 90px !important;
}
.mt-95 {
  margin-top: 95px !important;
}
.mt-100 {
  margin-top: 100px !important;
}

/* Custom Margin Bottom */
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-25 {
  margin-bottom: 25px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-45 {
  margin-bottom: 45px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-55 {
  margin-bottom: 55px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-65 {
  margin-bottom: 65px !important;
}
.mb-70 {
  margin-bottom: 70px !important;
}
.mb-75 {
  margin-bottom: 75px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-85 {
  margin-bottom: 85px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-95 {
  margin-bottom: 95px !important;
}
.mb-100 {
  margin-bottom: 100px !important;
}
.m-0 {
  margin: 0px !important;
}

/* Custom Padding top */
.pt-0 {
  padding-top: 0 !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.pt-45 {
  padding-top: 45px !important;
}
.pt-50 {
  padding-top: 50px !important;
}
.pt-55 {
  padding-top: 55px !important;
}
.pt-60 {
  padding-top: 60px !important;
}
.pt-65 {
  padding-top: 65px !important;
}
.pt-70 {
  padding-top: 70px !important;
}
.pt-75 {
  padding-top: 75px !important;
}
.pt-80 {
  padding-top: 80px !important;
}
.pt-85 {
  padding-top: 85px !important;
}
.pt-90 {
  padding-top: 90px !important;
}
.pt-95 {
  padding-top: 95px !important;
}
.pt-100 {
  padding-top: 100px !important;
}

/* Custom Padding top */
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-25 {
  padding-bottom: 25px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pb-35 {
  padding-bottom: 35px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.pb-45 {
  padding-bottom: 45px !important;
}
.pb-50 {
  padding-bottom: 50px !important;
}
.pb-55 {
  padding-bottom: 55px !important;
}
.pb-60 {
  padding-bottom: 60px !important;
}
.pb-65 {
  padding-bottom: 65px !important;
}
.pb-70 {
  padding-bottom: 70px !important;
}
.pb-75 {
  padding-bottom: 75px !important;
}
.pb-80 {
  padding-bottom: 80px !important;
}
.pb-85 {
  padding-bottom: 85px !important;
}
.pb-90 {
  padding-bottom: 90px !important;
}
.pb-95 {
  padding-bottom: 95px !important;
}
.pb-100 {
  padding-bottom: 100px !important;
}
.p-0 {
  padding: 0 !important;
}

a:hover, a:focus, .header-main ul li span.active, #about:target .icon-a, #resume:target .icon-r, #portfolio:target .icon-p, #blog:target .icon-b, #contact:target .icon-c, .pt-home .social ul li i:hover, .pt-about .info .loc, .pt-about .desc-icon p, .pt-about .inter-icon i, .pt-about .testimonial-item:before, .pt-about .testimonial-item .rating li, .pt-resume .experience .main p, .pt-resume .work-process .wp-step, .contact-valid #loader i, .blog-page .blog-nav a:hover, .blog-page .blog-nav a:focus, .blog-page .blog-heading i, .blog-page .blog-comments ul li .comment-text span, .pt-about .inter-icon i, .blog-list .blog-head .blog-breadcrumb li, .blog-list .side-left .search .input-group .input-group-text, .blog-list .side-left .news p, .blog-list .blog-post .content .detalis .meta li i {
  color: cornflowerblue !important;
  text-decoration: none;
}

.btn-st {
  position: relative;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.btn-st:before {
  content: '';
  position: absolute;
  width: 40%;
  height: 200%;
  top: -50%;
  left: -15%;
  background: #0e0f10;
  padding: 0px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-st:after {
  content: '';
  position: absolute;
  width: 110%;
  height: 10%;
  top: 105%;
  left: -5%;
  background: cornflowerblue;
  padding: 0px;
  z-index: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.btn-st:hover:before {
	-webkit-border-radius: unset;
			border-radius: unset;
	-webkit-transform: translateX(120%) scaleX(3) scaleY(0.8);
			transform: translateX(120%) scaleX(3) scaleY(0.8);
}

.btn-st:hover:after {
	-webkit-transform: translateX(-55%) translateY(-550%) rotate(90deg) scaleX(0.3);
			transform: translateX(-55%) translateY(-550%) rotate(90deg) scaleX(0.3);
}

.simplebar-scrollbar:before {
  background: #ddd !important;
}
