<div class="page pt-resume animate__animated animate__fadeInRight" data-simplebar>
  <section class="container">

<!-- Section Title -->
<div class="header-page pt-70 mob-mt">
<h2>Resume</h2>
  <span></span>

<!-- Experience & Education Row Start -->
<div class="text-panel row mt-100">

<!-- Experience Column Start -->
<div class="col-lg-6 col-sm-12">

  <!-- Header Block -->
  <div class="header-box mb-50">
    <h3>Experience</h3>
  </div>

  <div class="experience box-1">
    <!-- Experience Item -->
    <div class="item">
      <div class="main">
        <h4>.Net Advanced Developer</h4>
        <p><i class="far fa-calendar-alt"></i>Jul, 2019 - Present | GAP | Colombia / USA</p>
      </div>
      <p>
        Software development and Technology company with more
        than 300+ employees in multiple locations around the world.
      </p>
      <p>
        • Lead the maintenance and new feature development of core
        applications for HealthCare companies in The US and
        Canada.
        <br>
        • Give assistance to the application's main support team
      </p>
    </div>

    <!-- Experience Item -->
    <div class="item">
      <div class="main">
        <h4>Software Team Leader / Software Architect</h4>
        <p><i class="far fa-calendar-alt"></i>Nov, 2014 - Jul, 2019 | SICO S.A.S | Colombia</p>
      </div>
      <p>Software development startup which provides cloud solutions
        for real state sector in Colombia having 65% of market
        coverage.
        </p>
        <p>
        • Led the entire Product Development Lifecycle from building
        Business cases to production implementation.
        <br>
        • Executed & monitored the development, testing, and
        deployment of various features.
        <br>
        • Developed features for the main company's CRM
        Application.</p>
    </div>

    <!-- Experience Item -->
    <div class="item">
      <div class="main">
        <h4>Product Leader</h4>
        <p><i class="far fa-calendar-alt"></i>Oct, 2008 - May, 2014 | SAFYR S.A.S | Colombia</p>
      </div>
      <p>One of the most important software development companies
        in Colombia for the Financial Sector, provides web solutions
        with almost 70% Colombian market coverage.
      </p>
        <p>
        • Developed & Deployed features for the integrator software of
        the company.
        <br>
        • Built user stories and gathered the requirements analyzing
        user behavior to obtain preferences & finalize features.
        <br>
        • Active involvement in software architecture definitions</p>
    </div>
  </div>
</div>

<!-- Education Column Start -->
<div class="col-lg-6 col-sm-12">

  <!-- Header Block -->
  <div class="header-box mb-50 mob-box-mt">
    <h3>Education</h3>
  </div>

  <div class="experience box-2">
    <!-- Education Item -->
    <div class="item">
        <div class="main">
          <h4> Systems Engineer | Remington University</h4>
          <p><i class="far fa-calendar-alt"></i>2013 | Computer Science | Colombia</p>
        </div>
        <p>Degree in computer science with strong management knowledge of Software Development cycles.</p>
      </div>

    <!-- Education Item -->
    <div class="item">
      <div class="main">
        <h4> MCSA Administering SQL Server 2012 | Intelligent Training</h4>
        <p><i class="far fa-calendar-alt"></i>2013 | Computer Science | Colombia</p>
      </div>
      <p>Microsoft Certified Solutions Associate on Microsoft SQL Server 2012 as an Administrator.</p>
    </div>

    <!-- Education Item -->
    <div class="item">
      <div class="main">
        <h4> MCTS SQL Server 2008 Developer | Intelligent Training</h4>
        <p><i class="far fa-calendar-alt"></i>2011 | Computer Science | Colombia</p>
      </div>
      <p>Microsoft Certified Technology Specialist on Microsoft SQL Server 2008 as a Developer.</p>
    </div>

    <!-- Education Item -->
    <div class="item">
      <div class="main">
        <h4>PSP Fundamentals | SENA - SEI Training</h4>
        <p><i class="far fa-calendar-alt"></i>2011 | Computer Science | Colombia</p>
      </div>
      <p>PSP (Personal Software Process) Fundamentals certified developer.</p>
    </div>

    <!-- Education Item -->
    <div class="item">
      <div class="main">
        <h4> Systems Technologist | Remington University</h4>
        <p><i class="far fa-calendar-alt"></i>2008 | Computer Science | Colombia</p>
      </div>
      <p>Degree in computer science with general technical and focus knowledge on Software Development.</p>
    </div>
  </div>
</div>
</div>
</div>

<!-- Skills Row Start -->
<div class="text-panel row mt-70">

<!-- Header Block -->
<div class="col-md-12">
  <div class="header-box mb-50">
    <h3>Skills</h3>
  </div>
</div>

<div class="col-md-12 box-1 skills">
<div class="row">
  <div class="col-lg-6 col-sm-6">

    <!-- Skill Item -->
    <div class="skill-item">
      <h4 class="progress-title">HTML5</h4>
      <div class="progress">
        <div class="progress-bar" style="width:90%">
          <div class="progress-value">90%</div>
        </div>
      </div>
    </div>

    <!-- Skill Item -->
    <div class="skill-item">
        <h4 class="progress-title">CSS3</h4>
        <div class="progress">
          <div class="progress-bar" style="width:70%">
            <div class="progress-value">70%</div>
          </div>
        </div>
      </div>

    <!-- Skill Item -->
    <div class="skill-item">
      <h4 class="progress-title">JavaScript</h4>
      <div class="progress">
        <div class="progress-bar" style="width:95%">
          <div class="progress-value">95%</div>
        </div>
      </div>
    </div>

      <!-- Skill Item -->
    <div class="skill-item">
        <h4 class="progress-title">GIT</h4>
        <div class="progress">
          <div class="progress-bar" style="width:100%">
            <div class="progress-value">100%</div>
          </div>
        </div>
      </div>

  </div>

  <div class="col-lg-6 col-sm-6">
    <div class="row">

      <!-- Skill Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="chart" data-percent="95" data-bar-color="#fff"> 95% <p>C#</p></div>
      </div>

      <!-- Skill Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="chart" data-percent="80" data-bar-color="#fff"> 80% <p>Angular</p></div>
      </div>

      <!-- Skill Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="chart" data-percent="85" data-bar-color="#fff"> 85% <p>MVC</p></div>
      </div>

      <!-- Skill Item -->
      <div class="col-lg-6 col-sm-6">
        <div class="chart" data-percent="95" data-bar-color="#fff"> 95% <p>SQL Server</p></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</section>
</div>
